{% extends 'base-page.html' %}
{% load static %}


{% block title %}
   Register
{% endblock title %}

{% block container %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="register.html">Register</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Register Account Start -->
        <div class="register-account pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="register-title">
                            <h3 class="mb-10">REGISTER ACCOUNT</h3>
                            <p class="mb-10">If you already have an account with us, please login at the login page.</p>
                        </div>
                    </div>
                </div>
                <!-- Row End -->
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-horizontal" method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                            {% for field in user_form %}
                            <div class="form-group">
                                <span style="color: red"> {{ field.errors }} </span>
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                            {% endfor %}
                            <div class="buttons newsletter-input">
                                <div class="pull-right">
                                    <input type="submit" value="Continue" class="newsletter-btn">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Register Account End -->
        <!-- Brand Logo Start -->
        <div class="brand-area pb-60">
            <div class="container">
                <!-- Brand Banner Start -->
                <div class="brand-banner owl-carousel">
                    <div class="single-brand">
                        <a href="#"><img class="img" src="{% static '/img/brand/1.png' %}"" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{% static '/img/brand/2.png' %}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{% static '/img/brand/3.png' %}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{% static '/img/brand/4.png' %}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{% static '/img/brand/5.png' %}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img class="img" src="{% static '/img/brand/1.png' %}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{% static '/img/brand/2.png' %}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{% static '/img/brand/3.png' %}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{% static '/img/brand/4.png' %}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{% static '/img/brand/5.png' %}" alt="brand-image"></a>
                    </div>
                </div>
                <!-- Brand Banner End -->                
            </div>
        </div>
        <!-- Brand Logo End -->

    {% endblock container %}